<a href="https://colab.research.google.com/github/Whynotski/Data-Analytics/blob/master/Copy_of_Recap_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Recap #1

- Variables
- Data types
- Arithmetic
- Comparison operators
- Integers/Float
- Strings

In [ ]:
secret_number = 30

for integer in range(1,10):
  print(integer+secret_number)

password = secret_number*5

31
32
33
34
35
36
37
38
39

In [ ]:
# VARIABLES

# Define a variable called 'name' and assign it the value "Alice"
name = "Alice"

# Print the value of the variable
print(name)  # Output: Alice

# Change the value of the variable
name = "Bob"

# Print the updated value
print(name)  # Output: Bob

Alice
Bob

In [ ]:
# data type example

num_1 = 5
num_2 = 10

result = num_1 * num_2

print(result)

50

In [ ]:
number_1 = 3
float_1 = 1.0
string_1 = "Joanna"

product_num = number_1 * float_1

print(product_num)

print(string_1 * number_1)

3.0
JoannaJoannaJoanna

In [ ]:
id = "054920812"

In [ ]:
# data type example 2: string

string_1 = "5"
string_2 = "10"

result = string_1 * string_2

print(result)

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
type(5)

int

In [ ]:
# data types examples

# Integer
age = 30
print(type(age))  # Output: <class 'int'>

# Float
price = 19.99
print(type(price))  # Output: <class 'float'>

# String
message = "Hello, world!"
print(type(message))  # Output: <class 'str'>

# Boolean
is_student = True
print(type(is_student))  # Output: <class 'bool'>

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
# how arithmetic works for different data types

# Integer addition
num1 = 10
num2 = 5
sum_result = num1 + num2
print(sum_result)  # Output: 15

# Float multiplication
price = 12.5
quantity = 3
total_cost = price * quantity
print(total_cost)  # Output: 37.5

# String concatenation
greeting = "Hello"
name = "Alice"
full_message = greeting + ", " + name + "!"
print(full_message)  # Output: Hello, Alice!

15
37.5
Hello, Alice!

In [ ]:
super_long_expression = 5 * (8 + 10) - 3

In [ ]:
odd_or_even = 7

if odd_or_even % 2 == 0:
  print("even")
else:
  print("odd")

odd

In [ ]:
# Comparison operators

x = 12
y = 6

print(x == y)  # Output: False (equal to)
print(x != y)  # Output: True (not equal to)
print(x > y)   # Output: True (greater than)
print(x < y)   # Output: False (less than)
print(x >= y)  # Output: True (greater than or equal to)
print(x <= y)  # Output: False (less than or equal to)

False
True
True
False
True
False

In [ ]:
lowercase_string = "a"
uppercase_string = "A"

print(lowercase_string == uppercase_string)

False

In [ ]:
# difference between ints and floats

# Integers are whole numbers (no decimals)
integer_example = 10
print(integer_example, "is an integer.")

# Floats are numbers with decimals
float_example = 3.14
print(float_example, "is a float.")

# Key difference: Floats can represent numbers with fractional parts, while integers cannot.

10 is an integer.
3.14 is a float.

In [ ]:
# strings

# String concatenation
str1 = "Hello"
str2 = "World"
result = str1 + " " + str2
print(result)  # Output: Hello World

# String repetition
message = "Python! "
repeated_message = message * 3
print(repeated_message)  # Output: Python! Python! Python!

# String indexing
text = "Programming"
first_char = text[0]
fifth_char = text[4]
print(first_char)  # Output: P
print(fifth_char)  # Output: r

"Programming"

phone_number = "4439086671"

print(phone_number[0:3])

print(phone_number[::2])

# String slicing
text = "Programming"
substring1 = text[0:4]  # Extract characters from index 0 to 3
substring2 = text[4:]   # Extract characters from index 4 to the end
print(substring1)  # Output: Prog
print(substring2)  # Output: ramming

# String length
text = "Hello, world!"
length = len(text)
print(length)  # Output: 13

Hello World
Python! Python! Python!
P
r
443
43067
Prog
ramming
13

In [ ]:

name = "Joel"

greeting = "Hello, how are you " + name

In [ ]:
print(greeting)

Hello, how are you Joel

In [ ]:
# String Immutability

string_1 = "Hello"
string_1[1] = "a"
string_1 = "Hallo"
new_string = string_1 + ", world!"

print(string_1)  # Output: Hello
print(new_string)       # Output: Hello, world!

TypeError: 'str' object does not support item assignment

In [ ]:
print(string_1)

Hello

In [ ]:
list_of_names = ["Joanna", "Joel", "Kate", "Laura"]

for name in list_of_names:
  print(name)
  print(name+"!")

Joanna
Joanna!
Joel
Joel!
Kate
Kate!
Laura
Laura!

In [ ]:
list_of_names

['Joanna', 'Joel', 'Kate', 'Laura']